* {
    padding: 0;
    margin: 0;
}

.container-main {
    width: 450px;
    margin: 25px auto;
}

.btn-clear {
    margin-top: 25px;
    /* border: 1px solid black; */
}

.container-form-password {
    margin-top: 25px;
}

.container-form-pwd-edit {
    margin-top: 25px;
}

.pwd-edit {
    margin-left :20px;
    width: 100px;
}

.container-form {
    margin-top: 25px;
}

.btn-add {
    margin-left: 20px;
    width: 100px;
}

.container-data {
    margin-top: 25px;
}

.lock {
    margin-top: 25px;
}

.value-box {
    display: flex;
    margin: 10px;
}

.display-data-item {
    width: 100px;
    text-align: center;
}